/* Common shared styles start */
Body {
  font-family: "Open Sans", sans-serif;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}

/* Common shared styles end */

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 210px;
}

nav > ul {
  display: flex;
  align-items: center;
}

ul > li {
  list-style: none;
  margin-right: 50px;
}

ul a {
  text-decoration: none;
  color: #474747;
}

/* Header related styles start */
.header {
  background-color: #ff5733;
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* Header related styles ends */
.main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  max-width: 500px;
}
.profile-pic {
  height: 500px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  ont-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  margin-top: 0px;
}

/* Main section styles start  */

/* about section styles start  */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #ff5733;
  margin: 130px 0;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
/* about section styles end */
/* What i do section styles start  */
.what-i-do-description {
  padding: 30px 150px;
  background-color: gray;
}
.skills-container {
  margin-top: 10px;
  display: flex;
  gap: 24px;
}
.skill {
  background: white;
  padding: 20px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
}
/* What i do section styles end  */

/* Resume Section styles  */

/* Resume Section ends  */
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-item-institute{
          margin-bottom: 20px;
          margin-top: 0px;
}
.resume-item-institute,
.resume-item-description {
  color: #757575;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.resume-container hr {
          margin: 30px;
}
.download-cv{
          text-align: center;
          margin-top: 30px;
}
/* Main section styles end  */
